<div class="transaction_card">
  <div class="d-inline-flex align-items-center">
    <div class="me-3">
      <%= image_tag "#{transaction.category.icon_name}", class: "transaction_card_icon" %>
    </div>
    <div class="transaction_card_name">
      <%= transaction.category.name %></div>
    </div>
  <div>
    <% if transaction.category.category_type == "expense" %>
      <div class="transaction_card_amount_red">£<%= transaction.amount %></div>
    <% else %>
      <div class="transaction_card_amount_green">£<%= transaction.amount %></div>
    <% end %>
    <div class="text-black-50 transaction_card_date">
      <% if transaction.date == Date.today %>
        Today
      <% else %>
        <%= transaction.date.strftime("%d/%m") %>
      <% end %>
    </div>
  </div>
</div>