<div class="container">
  <%= render 'transactions/balance_card' %>
  <br>
  <div class="d-flex justify-content-between mb-3">
    <div class="d-inline-flex">
      <div class="m-0 align-self-center">Transactions (<%= @transactions.count %>)</div>
      <div class="filter-field">
        <%= render "transactions/search_form" %>
      </div>
    </div>
    <p class="align-self m-0 align-self-center "><%= link_to "View all", root_path, data: { turbo_frame: "_top" }, class: "text-decoration-none fw-light contrast-small" %></p>
  </div>
  <div>
    <div class="transaction_cards menu-scroll">
      <% @transactions.all.ordered.each do |transaction| %>
        <%= render "transactions/transaction_card",  transaction: transaction %>
      <% end %>
    </div>
  </div>
  <br>
  <br>
</div>
