<%= simple_form_for(@transaction) do |f| %>
  <li>
    <ul><%= f.input :amount %></ul>
    <ul><%= f.association :category %></ul>
    <ul><%= f.input :notes %></ul>
    <ul><%= f.input :date, html5: true, as: :date %></ul>
    <ul><%= f.submit %></ul>
  </li>
<% end %>
